/* colors */

$clr-white:#ffffff;
$clr-black:#000000;
$clr-primary:#694843;
$clr-secondary:#da9089;
$clr-base:#6a4742;
$clr-light:#6c7071;
$clr-light-grey:#f1f3f6;
$disabled:#cdcece;
$clr-grey:#333333;
$clr-red:#bd2b2b;


/*font family*/

$regular:'pfhandbookpro-regular';
$bold:'pfhandbookpro-bold';
$thin:'pfhandbookpro-thin';
$light:'pfhandbookpro-light';
$extrathin:'pfhandbookpro-extrathin';


$pfencoresansprobook:'pfencoresanspro-book';
$pfencoresansproreg:'pfencoresanspro-reg';
$pfencoresansprobold:'pfencoresanspro-bold';
$pfencoresanspromedium:'pfencoresanspro-medium';

/*font weight*/

$font-regular:400;
$font-light:300;
$font-medium:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */

$media-xs:1200px;
$media-md:992px;
$media-lg:768px;
$media-xl:576px;