//bs-loader-bank

.bs-loader-bank{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: #00000096;
    transition: all 0.6s ease-in;
    &.hide{
        visibility: hidden;
        opacity: 0;
    }
    .imgDecs{
        padding: 2.2rem 3rem;
        width: 48.5rem;
        height: 14.0rem;
        border-radius: 0.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);    
        background-color: $clr-white;
    }
    .img{
        height: 8rem;
        width: 7.5rem;
        margin-right: 3.1rem;
        overflow: hidden;
        display: inline-block;
    }
    .decs{
        width: 30rem;
        display: inline-block;
    }
    .title{
        font-size: 3.2rem;
        line-height: 3.6rem;
        margin-bottom: 0.3rem;
        display: block;
        color: $clr-black;
    }
    .para{
        font-size: 2.4rem;
        line-height: 2.6rem;
        font-family: $thin;
        color: $clr-black;
    }
}


@media only screen and (max-width:$media-lg) {
    .bs-loader-bank{
        .imgDecs{
            width: 92%;
        }
        .decs{
            width: 62%;
        }
        .title{
            font-size: 2.6rem;
            line-height: 2.8rem;
        }
        .para{
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
}