.bs-section{
    display: block;
    margin-bottom: 80px;
    .sec-head{
        margin-bottom: 30px;
        .sec-title{
            font-size: 4.4rem;
            line-height: 4.4rem;
            color: $clr-black;
        }
        .sec-innertitle{
            font-size: 3.2rem;
            line-height: 3.4rem;
            color: $clr-black;
        }
        .sec-subtitle{
            font-family: $thin;
            font-size: 3.2rem;
            line-height: 3.2rem;
            color: $clr-black;
        }
    }
    
    
    

}

@media only screen and (max-width:$media-lg) {
    .bs-section{
        margin-bottom: 40px;
        .sec-head{
            margin-bottom: 2.4rem;
            .sec-title{
                font-size: 2.8rem;
                line-height: 2.6rem;
                margin-bottom: 0.6rem;
            }
            .sec-subtitle{
                font-size: 1.8rem;
                line-height: 2rem;
            }
            .sec-innertitle{
                font-size: 2.2rem;
                line-height: 2.4rem;
                color: $clr-black;
            }
        }
        
    }
}