.bs-action-header{
    padding: 12px;
    line-height: 2.4rem;
    margin-bottom: 24px;
    border-bottom: 1px solid $clr-light-grey;
    .title{
        font-size: 2.4rem;
        display: inline-block;
        margin: 0;
        color: $clr-black;
        .icon{
            display: none;
            color: $clr-base;
        }
    }
    .m-icon-list{
        float: right;
    }
}

@media only screen and (max-width:$media-lg) {
    .bs-action-header{
        margin: 0 -1.6rem 2.4rem;
        .title{
            font-size: 2.1rem;
            margin-top: 0.3rem;
            .icon{
                display: inline-block;
                font-size: 1.6rem;
                margin-left: 1rem;
            }
        }
    }
}