//btn

.btn{
    background: $clr-base;
    border: 0.1rem solid $clr-base;
    color: $clr-white;
    font-size: 2rem;
    line-height: 2.2rem;
    padding: 1.2rem;
    min-width: 15rem;
    font-family: $bold;
    display: inline-block;
    text-align: center;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover,&:focus{
        box-shadow: 0 0 6px 0 #cdcece;
        outline: none;
        color: $clr-white;
    }
    &.btn-disabled{
        background: $disabled;
        color: $clr-white;
        border-color: $disabled;
        cursor: not-allowed;
        pointer-events: none;
        &:hover{
            box-shadow: none;
            color: $clr-white;
        }
    }
    &.btn-link{
        background: transparent;
        border: none;
        color: $clr-secondary;
        text-align: center;
        min-width: auto;
        font-size: 2rem;
        line-height: 2.2rem;
        position: relative;
        padding: 1.2rem 0;
        // margin: 0 1.2rem;
        &.btn-disabled{
            color: $disabled;
            &:after{
                content: none;
            }
        }
        &:after{
            content: "";
            height: 0.1rem;
            background: $clr-secondary;
            position: absolute;
            bottom: 1rem;
            left: 0;
            right: 0;
        }
        &:hover,&:focus{
            box-shadow: none;
            color:$clr-red;
            &:after{
                content: "";
                background: $clr-red;
            }
        }
    }
    &.btn-white{
        background: rgba(255, 255, 255, 0.8);
        color: $clr-base;
        &:hover{
            color: $clr-base;
        }
    }
    &.btn-icon{
        background: transparent;
        padding: 1rem;
        min-width: auto;
        color: $clr-base;
        border: none;
        .icon{
            font-size: 2.5rem;
        }
        &:hover{
            box-shadow: none;
            color: $clr-base;
        }
        &:focus{
            box-shadow: none;
            color: $clr-base;
        }
    }
    &.btn-outline{
        outline: none;
        background: $clr-white;
        color: $clr-base;
        border-color:$clr-secondary;
        &:hover,&:focus{
            color: $clr-base;
        }
    }
    &.btn-iconText {
        color: $clr-secondary;
        font-size: 2rem;
        line-height: 2.2rem;
        text-align: left;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        min-width: auto;
        border: none;
        .icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
            font-size: 1.8rem;
        }
        .text {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            &:after{
                content: "";
                height: 0.1rem;
                background: $clr-secondary;
                position: absolute;
                bottom: 0rem;
                left: 0;
                right: 0;
            }
        }
        &:hover,
        &:focus{
            box-shadow: none;
            color: $clr-red;
        }
    }
    &.btn-scrooltop{
        background: $clr-white;
        position: fixed;
        bottom: 17rem;
        right: 2.1rem;
        width: 5rem;
        height: 5rem;
        min-width: auto;
        z-index: 10;
        border: 0.2rem solid $clr-secondary;
        .icon{
            font-size: 2.2rem;
            line-height: 2.4rem;
            color: $clr-base;
        }
    }
}

.act-btn{
    &.text-right{
        text-align: right;
    }
    .act-btn-link{
        display: inline-block;
        float: left;
        .lbl{
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $clr-black;
            display: inline-block;
            margin-right: 1rem;
            margin-bottom: 0;
            vertical-align: middle;
        }
        .btn{
            display: inline-block;
            
            &:last-child{
                margin: 0;
            }
        }
    }
    .btn{
        margin-right: 3rem;
        vertical-align: middle;
    }
    .btn:last-child{
        margin-right: 0;
    }
    &.col2{
        .btn{
            width: 48%;
            margin: 0 1%;
            &:last-child{
                margin: 0 1%;
            }
        }       
    }
}

.btnBack{
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-family: $bold;
    color: $clr-secondary;
    padding: 1rem 0;
    margin: 2rem 2rem 1rem 0;
    display: inline-flex;
    align-items: center;
    &:hover{
        color: $clr-base;
    }
    .icon{
        font-size: 1.6rem;
        margin-right: 1rem;
    }
}


@media only screen and (max-width:$media-lg) {
    .btn{
        min-width: 9.6rem;
        margin-right: 1.4rem;
        padding: 0.8rem 1.2rem;
        &:last-child{
            margin-right: 0;
        }
        &.btn-link{
            padding: 0.8rem 0;
            min-width: auto;
            &:after{
                content: "";
                bottom: 0.8rem;
            }
        }
        &.btn-fixed{
            width: 100%;
            position: fixed;
            bottom: 0px;
            z-index: 9;
            left: 0;
            padding: 1.2rem;
        }
        &.btn-fill{
            width: 100%;
            padding: 1.2rem;
        }
        &.btn-scrooltop{
            min-width: auto;
            right: auto;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2rem;
        }
        &.btn-iconText {
            padding: 0.8rem 1.2rem;
        }
    }
    .act-btn {
        .act-btn-link{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            .btn{
                position: relative;
                min-width: auto;
            }
        }
        .btn{
            &:last-child{
                margin: 0;
            }
        }
        &.col2 {
            width: 100%;
            .btn{
                width: 100%;
                margin: 0.5rem 0;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
}