//checkbox
.checkbox{
    position: relative;
    input{
        opacity: 0;
        position: absolute;
    }
    input[type=checkbox ]:not(old) + label{
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem;
        line-height: 2.2rem;
        // margin-left: -1rem;
        color: $clr-black;
        position: relative;
        cursor: pointer;
        &:before{
            display: inline-block;
            vertical-align: middle;
            margin-right:2rem;
            font-size: 120%;
            line-height: 1;
            content: "\e929";
            color: $clr-base;
            font-family: 'icomoon' !important;
            margin-top: -2%;
        }
    }
    input[type=checkbox]:not(old):checked + label{
        &:before{
            content: "\e92a";
            font-family: 'icomoon' !important;
        }
    }
    &.payment{
        padding: 2.2rem 1.6rem;
        border-bottom:solid 2px #f1f3f6;
        margin-bottom: 4.1rem;
        input[type=checkbox ]:not(old) +label{
            font-size: 2.4rem;
            line-height: 2.4rem;
            
            display: inline-block;
        }
    }
    &.inline{
        display: inline-block;
        margin-right: 1rem;
        
        input[type=checkbox ]:not(old) +label{
            line-height: 2.4rem;    
            
            display: inline-block;
        }
    }
    &.grey{
        input[type=checkbox ]:not(old) + label{
            color:#6c7174;
        }
    }
    &.white{
        input[type=checkbox ]:not(old) + label{
            color: $clr-white;
            &:before{
                color: $clr-white;
            }
        }
    }
}


@media only screen and (max-width:$media-lg) {
    .checkbox{
        position: relative;
        .input{
            opacity: 0;
            position: absolute;
        }
        input[type=checkbox ]:not(old) + label{
            font-size: 2rem;
            line-height: 2.1rem;
            padding-left: 2.6rem;
            &:before{
                display: inline-block;
                vertical-align: middle;
                margin-right:2rem;
                font-size: 120%;
                line-height: 1;
                content: "\e929";
                color: $clr-base;
                font-family: 'icomoon' !important;
                margin-top: -2%;
            }
        }
        input[type=checkbox]:not(old):checked + label{
            
            &:before{
                content: "\e92a";
                font-family: 'icomoon' !important;
            }
        }
        &.white{
            input[type=checkbox ]:not(old) + label{
                color: $clr-white;
                &:before{
                    color: $clr-white;
                }
            }
        }
    }
}