form{
    display: block;
}
.form-control {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $clr-black;
    border: .1rem solid #cecece;
    padding: 1.2rem;
    width: 100%;
    border-radius: 0.4rem;
    &:focus {
        outline: none;
    }
}

.lbl {
    font-size: 1.8rem;
    line-height: 2rem;
    color: $clr-light;
    display: block;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 3rem;
}

.error{
    display: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #bd2b2b;
    font-family: $pfencoresansprobook;
    margin-top: 0.6rem;
    width: 100%;
}

.form-group,.input-group{
    &.show-error{
        .form-control{
            border: 1px solid #bd2b2b;
            background: #fbeeee;
            color: #bd2b2b;
        }
        .error{
            display: block;
        }
    }
    &:last-child{
        margin-bottom: 0;
    }
    .input-group-append {
        .btn{
            position: relative;
        }
    }
}
.input-group {
    margin-bottom: 3rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    .lbl {
        width: 100%;
    }
    .form-control {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
    }
    .input-group-append {
        display: flex;
        // margin-right: 5rem;
        min-width: 20rem;
        .input-group-text {
            position: relative;
            // margin-top: 1.7rem;
        }

    } 
    &.otp{
        .input-group-append{
            margin-right: 0;
            .count{
                font-size: 1.8rem;
                line-height: 2rem;
                color: $clr-black;
                margin-left: 1.2rem;
            }
            .input-group-text{
                .btn{
                    // top: auto;
                    // padding: 1.2rem 1.2rem 0 1.2rem;
                }
            }
        }
    }
    .otp-box {
        width: 38rem;
        .form-control {
            text-align: center;
            width: 5rem;
            margin: 0 0.9rem 0 0;
        }
    }
    .addon{
        width: 100%;
        position: relative;
        .form-control{
            width: 100%;
        }
        .btn{
            padding: 1.2rem 1.2rem;
            border: none;
            min-width: auto;
            background: transparent;
            position: absolute;
            right: 0;
            top: 0;
            &:hover,
            &:focus{
                background: transparent;
                box-shadow: none;
                outline: none;
            }
            .icon{
                color: $clr-base;
                line-height: 2.3rem;
            }
            .icon-info{
                color:#f7a500;
            }
        }
    }
    &.pass{
        .input-group-addon{
            position: relative;
            flex: 1 1 auto;
            width: 1%;
        }
        .addon{
            position: relative;
            flex: 1 1 auto;
            width: 1%;
            .form-control{
               width: 100%;
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .input-group{
        .form-control{
            flex: auto;
            width: 100%;
            margin-right: 0;
        }

        &.otp {
            padding-bottom: 3rem;
            
            .input-group-append{
                position: absolute;
                bottom: -1rem;
                .input-group-text{
                    .btn{
                        padding-left: 0;
                    }
                }
            }
        }
        &.otpBox {
            .form-control{
                margin: 0 0.4rem 0 0;
                font-size: 2.7rem;
                line-height: 3rem;
                padding: 0.8rem;
            }
        }
        &.show-error,&.pass{
            padding-bottom: 3rem;
            .input-group-append{
                position: absolute;
                bottom: -1.5rem;
            }
        }
        &.addon{
            margin-right: 0;
        }
    }
    .form-group, .input-group{
        .input-group-append {
            .btn{
                top: auto;
                margin-top: 1rem;
            }
        }
        &.show-error{
            .error{
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }
    .form-group {
        margin-bottom: 2.4rem;
    }
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #cecece;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #cecece;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #cecece;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #cecece;
  }