//modal
.modal{
    .dialog{
        padding: 4rem 2.4rem 2.4rem;
        border-radius: 0.4rem;
        position: fixed;
        right: 0;
        left: 0;
        top: 50%;
        z-index: 23;
        transition: all 0.4s ease-in;
        transform: translate(0, -50%);
        opacity: 0;
        max-width: 60rem;
        background: $clr-white;
        margin: 1.75rem auto;
        visibility: hidden;
        &.modal-otp{
            max-width: 65rem;
        }
        &.typ-md{
            max-width: 90rem;
        }
        .modal-header{
            display: block;
            margin-bottom: 1rem;
        }
        .title{
            font-size: 3.2rem;
            line-height: 3.6rem;
            color: $clr-black;
        }
        .subtitle{
            font-size: 2rem;
            line-height: 2.2rem;
            font-family: $thin;
            color: $clr-black;
        }
        .para{
            font-size: 2rem;
            line-height: 2.2rem;
            color: $clr-black;
            font-family: $thin;
            margin-bottom: 2rem;
        }
        .btn-icon{
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
        .highlight{
            background: #fdf7f7;
            margin: 0 -2.4rem;
            padding: 2rem;
            font-size: 1.7rem;
            line-height: 2rem;
            color: $clr-light;
            font-family: $light;
            margin-bottom: 4.2rem;
        }
        .act-list {
            .item {
                margin-bottom: 0.2rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .act-btn{
            margin-top: 4rem;
            text-align: right;
        }
        .whatsapp{
            margin-top: 2.3rem;
            .checkbox{
                margin-bottom: 1rem;
                input[type=checkbox]:not(old) + label{
                    padding-left: 0;
                }
            }
            p{
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $clr-grey;
                margin-bottom: 2.4rem;
                font-family: $pfencoresansprobook;
            }
            .note{
                background: transparent;
                margin: 0;
                padding: 0;
            }
        }
        .modal-terms{
            max-height: 25rem;
            overflow-y: auto;
        }

    }
    &.active{
        .dialog{
            visibility: visible;
            opacity: 1;
            transform: translate(0, -50%);
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .modal{
        .dialog{
            max-width: 100%;
            right: 1.4rem;
            left: 1.4rem;
            padding: 4rem 2rem 2rem;
            transform: translate(0, -50%);
            &.modal-otp{
                .input-group-otp {
                    .input-group-append{
                        position: absolute;
                        bottom: -1rem;
                    }
                }
            }
            &.typ-md{
                &.typ-video{
                    max-width: 100%;
                    width: 100vw;
                    right: 0;
                    left: 0;
                    margin: 0;
                    padding: 3.2rem 1rem 1rem 1rem;
                    iframe{
                        height: 30rem;
                    }
                }
            }
            .title{
                font-size: 2.6rem;
                line-height: 3rem;
            }
            .subtitle{
                font-size: 1.8rem;
                line-height: 2rem;
            }
            .para{
                font-size: 1.8rem;
                line-height: 2rem;
            }
            .highlight{
                margin: 0 -1.9rem;
            }
            .btn-icon{
                padding: 0.4rem;
                min-width: auto;
                .icon{
                    font-size: 1.8rem;
                }
            }
            .act-list {
                .item {
                    margin-bottom: 1rem;
                }
            }
            .act-btn{
                margin-top: 2rem;
            }
            .typ-whatsapp{
                p{
                    font-size: 1.8rem;
                    line-height: 2rem;
                    font-family: $thin;
                }
                .note{
                    .note-text{
                        display: block;
                    }
                }
            }
        } 
    }
}