//radio
.radio{
    position: relative;
    input{
        opacity: 0;
        position: absolute;
    }
    input[type=radio ]:not(old) + label{
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem;
        line-height: 2.2rem;
        // margin-left: -1rem;
        color: $clr-black;
        position: relative;
        cursor: pointer;
        &:before{
            display: inline-block;
            vertical-align: middle;
            margin-right:2rem;
            font-size: 100%;
            line-height: 1;
            content: "\e931";
            color: $disabled;
            font-family: 'icomoon' !important;
            margin-top: -0.7rem;
        }
    }
    input[type=radio]:not(old):checked + label{
        &:before{
            content: "\e930";
            font-family: 'icomoon' !important;
            color: $clr-base;
        }
    }
    .innertext{
        font-size: 1.8rem;
        line-height: 2rem;
        color: $clr-light;
        display: block;
        margin-left: 4rem;
    }
    &.inline{
        display: inline-block;
        margin-right: 1rem;
        
        input[type=checkbox ]:not(old) +label{
            line-height: 2.4rem;    
            
            display: inline-block;
        }
    }
    &.white{
        input[type=checkbox ]:not(old) + label{
            color: $clr-white;
            &:before{
                color: $clr-white;
            }
        }
    }
}