//tab
.tab{
    display: block;
    .tab-nav{
        display: block;
        margin: -1.2rem -1.6rem 2.4rem;
    }
    .nav-btn{
        width: 50%;
        display: inline-block;
        a{
            text-align: center;
            display: block;
            font-size: 2rem;
            line-height: 2.2rem;
            padding: 1rem;
            color: #cdcece;
            border-bottom: 1px solid #cdcece;
        }
        &.active,&:hover{
            a{
                color: $clr-base;
                border-bottom: 1px solid $clr-base;
            }
        }
    }
    .tab-content{
        display: block;
    }
    .tab-panel{
        display: none;
        &.active{
            display: block;
        }
    }
}