.lyt-policy-congrats{
    .row{
        padding: 2rem 0;
        margin: 0;
        
    }
}
@media only screen and (max-width:$media-lg) {
    .lyt-policy-congrats{
        
       .row{
        margin: 0 -1.5rem;
        &:first-child{
            border-bottom: solid 1px $clr-light-grey;
        }
       }
       .act-btn{
           margin-top: 2rem;
       }
    }
}