//lyt-payments

.lyt-payments{
    .checkbox{
        input[type=checkbox]:not(old) + label{
            padding-left: 0;
            font-size: 2rem;
        }
    }
    .act-btn{
        .checkbox{
            input[type=checkbox]:not(old) + label{
                
                font-size: 1.8rem;
            }
        }
    }
}
@media only screen and (max-width:$media-lg) {
    .lyt-payments{
        .act-btn{
            .checkbox{
                input[type=checkbox]:not(old) + label{
                    
                    font-size: 1.6rem;
                    &:before{
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}