//lyt-past-payments
.lyt-past-payments{
    .form-group{
        margin-bottom: 2.4rem;
    }
    .reset{
        position: absolute;
        bottom: -7.5rem;
        left: 0.7rem;
        .icon{
            font-size: 2.2rem;
        }
        &.btn-disabled{
            .icon{
                color: $disabled;
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .lyt-past-payments{
        .form-group{
            margin: 0 -1.5rem 2.4rem 0;
            .MuiInputBase-input{
                padding: 1.2rem 0.7rem;
                font-size: 1.4rem;
                line-height: 2.6rem;
            }
            .MuiInputAdornment-positionEnd{
                margin: 0;
                width: 3.5rem;
            }
        }
        .reset{
            min-width: auto;
            left: 0.8rem;
            .icon{
                font-size: 1.8rem;
            }
        }
    }
}