//lyt-login

.lyt-login{
    width: 100%;
    min-height: 65rem;
    position: relative;
    padding-left: 3rem;
    .lhs{
        width: 60%;
        padding-right: 3%;
        float: left;
    }
    .rhs{
            width: 40%;
            height: 100%;
            position: absolute;
            right: 0;
        }
    .act-btn{
        position: absolute;
        right: 2.4rem;
        left: 2.4rem;
        bottom: 2.4rem;
        text-align: right;
    }
    .input-group{
        .form-control{
            margin-right: 2rem;
        }
        .otp-box{
            .form-control{
                margin-right: 0.9rem;
            }
        }
        .addon{
            margin-right: 2rem;
        }
    }
    
}


@media only screen and (max-width:$media-lg) {
    .lyt-login{
        padding: 0 1.6rem 0 1.6rem;
        min-height: auto;
        .lhs{
            width: 100%;
            float: none;
            padding: 0;
        }
        .rhs{
            width: 100%;
            position: relative;
            height: 40rem;
            right: auto;
            background-position: 0 80%;
            margin-top: 2.4rem;
        }
        .act-btn{
            position: relative;
            right: auto;
            left: auto;
            bottom: auto;
            margin-top: 5rem;
            text-align: center;
            padding-bottom: 50px;
            .btn-link{
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
                min-width: auto;
            }
            .act-btn-link {
                .btn{
                    position: relative;
                    min-width: auto;
                }
            }
        }
        .input-group{
            .form-control{
                margin-right: 0rem;
            }
            .addon{
                margin-right: 0rem;
            }
        }
       
    }
}