//plans
.lyt-plans{
    transition: all 0.5s ease;
    overflow: hidden;
    .plans-item{
        float: left;
        width: 50%;
        padding: 1.5rem;
    }
    .cont{
        .act-btn{
            &.normal-view{
                display: block;
            }
            &.list-view{
                display: none;
            }
        }
    }
    &.list-view{
        transition: all 0.5s ease;
        opacity: 1;
        .plans-item{
            width: 100%;
            float: none;
        }
        .head{
            padding: 2rem;
            .list{
                .item{
                    width: 20%;
                    display: inline-block;
                    padding: 0;
                    .lbl-text{
                        display: block;
                        font-size: 1.6rem;
                        line-height: 2rem;
                        margin-bottom: 0.4rem;
                    }
                    .desc-text{
                        font-size: 2rem;
                        line-height: 2.2rem;
                    }
                }
            }
            .tag{
                padding: 0.6rem 1.7rem;
                top: 1.3rem;
            }
        }
        .cont{
            .list{
                width: 60%;
                float: left;
                .item{
                    width: 25%;
                    padding: 0;
                    &:first-child,&:last-child{
                        display: none;
                    }
                }
            }
            .act-btn{
                width: 40%;
                float: left;
                &.normal-view{
                    display: none;
                }
                &.list-view{
                    display: block;
                }
                .btn{
                    display: inline-block;
                    width: 46%;
                    margin: 0 2rem;
                    &:last-child{
                        display: inline-block;
                    }
                }
            }
        }
        .m-plan-card {
            &.policy {
                .cont {
                    .act-btn{
                        &.list-view{
                            .btn{
                                margin-bottom: 0;
                                &:last-child{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width:$media-lg) {
    .lyt-plans{
        .plans-item{
            padding: 0;
            width: 100%;
            float: none;
            margin-bottom: 2rem;
        }
        .act-btn{
            &.normal-view{
                text-align: center;
            }
            &.list-view{
                display: none;
            }
        }
    }
}