//yt-policy-detail
.lyt-policy-detail{
    .m-detail-list{
        padding: 2rem 0 0 0;
    }
}


@media only screen and (max-width:$media-lg) {
    .lyt-policy-detail{
        .lyt-accordion{
            .MuiExpansionPanel-root.matAccordion .MuiExpansionPanelSummary-root{
                padding-left: 1.6rem;
            }
        }
    }
}