//lyt-policy-pymt-detail

.lyt-policy-pymt-detail{
    padding: 0 2rem;
   
    .row{
        padding: 2rem 0;
        border-bottom:solid 1px $clr-light-grey ;
    }
}
@media only screen and (max-width:$media-lg) {
    .lyt-policy-pymt-detail{
        padding: 0;
        .m-lbl-text{
            margin-bottom: 0em;
        }
        .row{
            >div:nth-child(3){
                position: absolute;
                right: 0;
            }
            padding: 1rem 0;
        }
        .act-btn{
            text-align: left;
        }
        .btn-iconText{
            padding-left: 0;
        }
    }
}