// accordion

.lyt-accordion{
    .mat-accordion{
        .accor-head{
            display: flex;
            align-items: center;
            .radio{
                display: flex;
                align-items: center;
                .radio-lbl{
                    font-size: 2.4rem;
                    line-height: 2.6rem;
                }
            }
        }
        .accor-title {
            font-size: 2.4rem;
            line-height: 2.8rem;
            display: inline-block;
            vertical-align: middle;
        }
        .accor-act {
            display: inline-block;
            margin-left: 2rem;
            vertical-align: middle;
            display: none;
        }
        .accor-body{
            padding: 1.6rem 3.2rem;
        }
        &.MuiExpansionPanel-root.Mui-expanded{
            .accor-act{
                display: inline-block;
                vertical-align: initial;
            }
        }
    }
    .MuiExpansionPanel-root{
        &.mat-accordion {
            .MuiExpansionPanelSummary-root{
                &.Mui-expanded{
                    background: #f5f5f5;
                }
            }
            .MuiCollapse-container {
                .MuiCollapse-wrapper {
                    .MuiCollapse-wrapperInner {
                        .MuiExpansionPanelDetails-root{
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
    .row{
        .act-btn{
            margin-top: 6rem;
        }
    }
    .m-table-wrap{
        margin-top: -1.4rem;
    }
}


@media only screen and (max-width:$media-lg) {
    .lyt-accordion{
        .mat-accordion{
            margin: 0 -1.6rem;
            .accor-head{
                .radio{
                    .radio-lbl{
                        font-size: 2rem;
                        line-height: 2.2rem;
                    }
                }
            }
            &.MuiExpansionPanel-root.Mui-expanded{
                margin: 0 -1.6rem;
            }
            
            .accor-title {
                font-size: 2rem;
                line-height: 2.1rem;
            }
            .accor-body{
                padding: 1.6rem;
                .checkbox{
                    input[type=checkbox]:not(old) + label{
                        padding-left: 0;
                    }
                }
                .row{
                    margin-bottom: 2.4rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        form{
            .act-btn{
                margin-bottom: 2rem;
                
            }
        }
       .row{
           .act-btn{
               margin-top: 2rem;
               &:last-child{
                   margin: 0;
               }
           }
       }
    }
}