//lyt-nominee
.lyt-nominee{
    .addbtn{
        padding: 1.7rem 1.7rem 1.7rem 0;
        color: $clr-base;
        font-family: $regular;
        .text{
            font-size: 2rem;
            line-height: 2.2rem;
            text-decoration: none;
        }
        .btn-text{
            display: inline-block;
            vertical-align: middle;
            &:after{
                content: none;
            }
        }
        &:hover{
            color: $clr-red;
        }
        &.btn-disabled{
            color: $disabled;
        }
    }
    .list-wrap{
        margin: 4rem 0;
        .item{
            padding: 3rem 0 3rem 0rem;
            display: block;
            border-bottom: 0.1rem solid #f1f3f6;
            .lbl{
                margin-bottom: 0.1rem;
            }
            .form-group{
                .form-control{
                    background: transparent;
                    border: none;
                    padding: 0;
                    font-size: 2rem;
                    line-height: 2.2rem;
                    color: $clr-black;
                    display: inline-block;
                    vertical-align: middle;
                }
                .error{
                    display: none;
                }
            }
        }
        &.edit{
            .form-group{
                .lbl{
                    margin-bottom: 1rem;
                }
                .form-control{
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: $clr-black;
                    border: .1rem solid #cecece;
                    padding: 1.2rem;
                    width: 100%;
                    border-radius: 0.4rem;
                }
                
                &.show-error{
                    .form-control{
                        border: 1px solid #bd2b2b;
                        background: #fbeeee;
                        color: #bd2b2b;
                    }
                    .error{
                        display: block;
                    }
                }
            }
            .delete{
                display: inline-block;
            }
        }
    }
    .act-btn{
        margin-top: 4rem;
    }
    .delete{
        display: none;
        padding: 2rem 0;
    }   
    .relInfo{
        display: inline-block;
        padding-top: 3rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $clr-red;
        font-family: $pfencoresansprobook;
    }
    .title {
        font-size: 3.2rem;
        line-height: 3.6rem;
        color: $clr-black;
        text-transform: capitalize;
        margin-bottom: 2.4rem;
    }
    .subtitle {
        font-size: 2.4rem;
        line-height: 2.6rem;
        font-family: $thin;
        color: $clr-black;
        text-transform: capitalize;
        margin-bottom: 2.4rem;
    }
    .addnominee {
        margin-top: 3rem;
        .form-group {
            margin-bottom: 3rem;
            &:last-child{
                margin-bottom: 3rem;
            }
        }
    }
    .upload {
        padding-top: 1rem;
        padding-bottom: 2rem;
        .head-wrap {
            margin-bottom: 1.6rem;
        }
        .uploadtitle {
            font-size: 2rem;
            line-height: 2.2rem;
            color: $clr-black;
            margin-bottom: 0.4rem;
        }
        .subtext {
            font-size: 1.8rem;
            line-height: 1.6rem;
            font-family: $thin;
            color: $clr-light;
        }
        .btn--iconText{
            padding-left: 0;
        }
    }
    .appointee{
        margin-top: 1rem;
        padding-top: 3rem;
        border-top: 0.1rem solid #f1f3f6;
    }
    .m-goal{
        width: 60%;
        .goal-lbl{
            width: 30%;
            font-size: 2rem;
            line-height: 2.2rem;
        }
        .status-bar{
            width: 60%;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .lyt-nominee{
        .addbtn{
            padding-left: 0;
        }
        .list-wrap{
            margin: 0rem 0 2rem;
            .item{
                padding: 0 0 1rem 0;
                margin-bottom: 1rem;
            }
        }
        .highlight{
            margin: 0px -1.6rem 0rem;
        }
        .clearfix{
            display: none;
        }
        .addnominee {
            .row {
                width: auto;
            }
        }
        .title {
            font-size: 2.2rem;
            line-height: 2.6rem;
            margin-bottom: 2rem;
        }
        .appointee{
            padding-top: 2rem;
            margin-top: 0rem;
        }
        .subtitle {
            font-size: 1.8rem;
            line-height: 2rem;
            margin-bottom: 2rem;
        }
        .m-goal{
            width: 100%;
            .goal-lbl{
                display: block;
                width: 100%;
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
            .status-bar{
                width: 80%;
            }
        }
    }
}