.m-activity-list{
    overflow: hidden;
    .title{
        float: left;
        clear: left;
        font-size: 2.4rem;
        line-height: 2.8rem;
        width: 30%;
        padding: 3rem 3rem 3rem 0;
        color: $clr-black;
        border-bottom: solid 1px $clr-light-grey ;
        min-height: 9rem;
    }
    .desc{
        float: left;
        width: 70%;
        padding: 3rem 3rem 3rem 0;
        font-size: 2rem;
        line-height: 2.2rem;
        color: $clr-black;
        border-bottom: solid 1px $clr-light-grey ;
        min-height: 9rem;
        .btn-link{
            display: inline;
        }
        .desctext{
            display: inline-block;
            width: 50%;
            
        }
    }
    
}

@media only screen and (max-width:$media-lg) {
    .m-activity-list{
        margin: 0 -1.6rem;
        padding: 0 1.6rem;
        .title{
            width: 100%;
            padding: 1.6rem 0 0 0;
            border-bottom: none;
            min-height: auto;
        }
        .desc{
            width: 100%;
            padding: 0 0 1.6rem 0;
            min-height: auto;
            &:last-child{
                border-bottom: none;
                padding-bottom: 0;
            }
            .desctext{
                margin: 0;
                width: 100%;
            }
            .btn-link{
                display: inline-block;
                text-align: left;
                padding-left: 0;
                margin-top: 0.8rem;
                min-width: auto;
            }
        }
    }
}