.m-breadcrumb{
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 2.4rem;
    .item{
        display: inline-block;
        &:first-child{
            .icon{
                color: $clr-light;
            }
        }
        .link{
            color:$clr-light;
        }
    }
    
    .icon{
        font-size: 1rem;
        font-weight: bold;
        margin: 0 1rem;
        color:$clr-base;
    }
}

@media only screen and (max-width:$media-lg) {
    .breadcrumb{
        .item{
            margin-bottom: 0.5rem;
        }
    }
}