.m-covid{
    box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
    border: solid 1px #cdcece;
    padding: 2rem;
    position: relative;
    margin-bottom: 6rem;
    .desc{
        padding-left: 4.6rem;
        .title{
            font-size: 2.4rem;
            line-height: 2.6rem;
            color: $clr-black;
        }
        .subtitle{
            font-family: $thin;
            font-size: 2.4rem;
            line-height: 2.6rem;
            color: $clr-black;
        }
        .btn--link{
            padding: 1rem 0;
            text-decoration: none;
            &:focus{
                background: transparent;
                color: #da9089;
                box-shadow: none;
            }
        }
    }
    
    
    .icon-info{
        position: absolute;
        left: 2.4rem;
        top: 2.4rem;
        font-size: 2.4rem;
        color: $clr-secondary;
    }
    .btn-cancel{
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        font-size: 2.1rem;
    }
    .icon-cancel{
        font-size: 2.4rem;
    }
}

@media only screen and (max-width:$media-lg) {
    .m-covid{
        margin-bottom: 4rem;
        padding: 1.7rem 1.1rem 1.1rem 1.9rem;
        .icon-info{
            font-size: 1.8rem;
            left: 1.9rem;
            top: 1.9rem;
        }
        .desc{
            padding-left: 3.7rem;
            .title{
                font-size: 2.2rem;
                line-height: 2.2rem;
                margin-bottom: 0.8rem;
            }
            .subtitle{
                font-size: 1.8rem;
                line-height: 2rem;
            }
            .btn-link{
                font-size: 1.9rem;
                line-height: 2.2rem;
                margin: 0 1.6rem 0 0;
                text-align: left;
                padding-top: 1.6rem;
                min-width: auto;
            }
        }
       
        .btn-cancel{
            font-size: 1.5rem;
            line-height: 1.7rem;
            top: 0.7rem;
            right: 0.4rem;
            min-width: auto;
            .icon-cancel{
                font-size: 1.6rem;
            }
        }
    }
}