//creatId
.m-creat-id{
    color: $clr-white;
    padding: 4.8rem 2.4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/assets/images/abcid.jpg) no-repeat right 0 transparent;
        background-size: cover;
        &:before{
            background-image: linear-gradient(to bottom, #000000 42%, rgba(0, 0, 0, 0.64) 79%, rgba(0, 0, 0, 0));
            width: 100%;
            height: 25.6rem;
            opacity: 0.7;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: 0;
        }
        &:after{
            background-image: linear-gradient(to bottom, #000000 42%, rgba(0, 0, 0, 0.64) 79%, rgba(0, 0, 0, 0));
            width: 100%;
            height: 25.6rem;
            opacity: 0.7;
            content: "";
            position: absolute;
            bottom: -0.1rem;
            right: 0;
            left: 0;
            transform: rotate(180deg);
            z-index: 0;
        }
    .decs{
        position: relative;
        z-index: 1;
    }
    .title{
        font-size: 3.2rem;
        line-height: 3.6rem;
        margin-bottom: 2rem;
        font-family: $light;
    }
    .icon{
        color: #f7a500;
        font-size: 2.4rem;
    }
    .text{
        font-size: 2.4rem;
        line-height: 2.6rem;
    }
    .act-wrap{
        position: absolute;
        bottom: 10rem;
        right: 2.5rem;
        z-index: 1;
    }
}

@media only screen and (max-width:$media-lg) {
    .m-creat-id{
        padding: 2rem;
        left: -1.6rem;
        right: -1.6rem;
        &:before{
            height: 20rem;
        }
        &:after{
            height: 10rem;
        }
        .info{
            font-size: 1.6rem;
        }
        .text{
            font-size: 2rem;
            line-height: 2.2rem;
        }
        .act-wrap{
            bottom: 3rem;
        }
    }
}