// m-detail-list

.m-detail-list {
    // padding: 2rem 2.2rem 1rem 2.2rem;
    padding: 2rem 0 1rem 0;
    border-bottom: 1px solid $clr-light-grey;
    .detail-head {
        margin-bottom: 2rem;
        .statusTag {
            display: inline-block;
            margin-left: 2rem;
            vertical-align: middle;
        }
    }
    .detail-title {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-family: $thin;
        display: inline-block;
        vertical-align: middle;
    }
    .detail-meta {
        font-family: $pfencoresansprobook;
        display: inline-block;
        vertical-align: text-top;
        margin-left: 1.5rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #6c7174;
    }
    &:last-child{
        border-bottom: 0;
    }
    .m-lbl-text {
        margin-bottom: 3rem;
    }
    .lbl-text{
        margin-bottom: 0.3rem;
    }
    .desc-text{
        font-size: 2.2rem;
        line-height: 2.4rem;
        address{
            font-style: inherit;
        }
    }
    .m-status-tag{
        margin-left: 1rem;
        padding: 0.3rem 1.5rem;
        display: inline-block;
        vertical-align: middle;
    }
}

@media only screen and (max-width:$media-lg) {
    .m-detail-list{
        padding: 0;
        margin-bottom: 2rem;
        .m-lbl-text {
            position: relative;
        }
        .desc-text{
            font-size: 2rem;
            line-height: 2.2rem;
            vertical-align: middle;
            display: inline-block;
        }
        .m-status-tag{
            padding: 0rem 0.9rem;
            line-height: 1.9rem;
            font-size: 1.2rem;
            display: inline-block;
            vertical-align: middle;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}