//filter

.m-filter{
    display: block;
    .tab{
        display: block;
        font-size: 2rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
        color: $disabled;
    }
    .item{
        border-bottom: 0.1rem solid $disabled;
        &.active,&:hover{
            border-bottom: 0.1rem solid $clr-base;
            .tab{
                color: $clr-base;
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .m-filter{
        margin-bottom: 2rem;
        .item{
            width: auto;
            text-align: center;
            padding: 0 2rem;
        }
    }
}