//floatingBtn
.m-floating-btn{
    position: fixed;
    right: 7rem;
    bottom: 7rem;
    z-index: 23;
    opacity: 0.5;
    .round{
        width: 6.4rem;
        height: 6.4rem;
        display: block;
        text-align: center;
        line-height: 6.6rem;
        font-size: 3rem;
        border-radius: 5rem;
        cursor: pointer;
        background: $clr-primary;
        color: $clr-white;  
        .icon{
            color: $clr-white;
            text-align: center;
            line-height: 6.8rem;
            font-size: 2.4rem;
        }

    }
    
    .list{
        text-align: right;
        width: 24rem;
        height: 0;
        opacity: 0;
        transition: all 1s ease;
        position: absolute;
        left: -17.6rem;
        bottom: 6.4rem;
        line-height: 2rem;
        overflow: hidden;

        .item{
            margin-bottom: 1rem;
        }
        .text{
            margin-right: 1rem;
            display: inline-block;
            vertical-align: middle;
            text-transform: capitalize;
        }
        .link{
            display: block;
            vertical-align: middle;
            width: 100%;
            text-align: right;
        }
        .link-round{
            display: inline-block;
            vertical-align: middle;
        }
    }
    
    .close{
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
    
    
    &.active{
        opacity: 1;
        .list{
            height: auto;
            opacity: 1;
        }
        .round{
            background: $clr-white;
            color: $clr-primary; 
            .icon{
                color: $clr-primary;
            }
            
        }
        .floating-btn-desktop{
            background: $clr-primary;
            color: $clr-white; 
            .icon{
                color: $clr-white;
            }
        }
        .text{
            color: $clr-white; 
        }
    }
    &:hover{
        opacity: 1;
    }
}

@media only screen and (max-width:$media-lg) {
    .m-floating-btn{
        right: 3rem;
        bottom: 4rem;
        .list{
            left: -18.5rem;
        }
        .round{
            width: 5.6rem;
            height: 5.6rem;
            line-height: 5.6rem;
            .icon{
                line-height: 4.8rem;
                font-size: 1.4rem;
            }
        }
        .text{
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
        .close{
            font-size: 1.5rem;
            transform: rotate(45deg);
        }
        &.active {
            .round{
                font-size: 2.1rem;
                .close{
                    transform: rotate(0);
                }
            }
        }
    }
}