//goal

    .m-goal{
        width: 55%;
        padding: 0.3rem 2rem;
        line-height: 1rem;
        border-radius: 4rem;
        .goal-lbl{
            font-size: 1.4rem;
            line-height: 1.6rem;
            font-family: $regular;
            color: $clr-black;
            width: 20%;
            margin-bottom: 0;
            display: inline-block;
            vertical-align: middle;
        }
        .status-bar{
            position: relative;
            width: 70%;
            display: inline-block;
            vertical-align: middle;
        }
        .total{
            width: 100%;
            height: 0.5rem;
            border-radius: 0.4rem;
            display: block;
            background: #cdcece;
        }
        .achive{
            width: 40%;
            height: 0.5rem;
            border-radius: 0.4rem;
            display: block;
            background: #1f874c;
            position: absolute;
            top: 0;
        }
        .status{
            width: 10%;
            display: inline-block;
            vertical-align: middle;
            font-size: 2rem;
            line-height: 2.2rem;
            text-align: right;
            font-family: $regular;
            color: $clr-black;
            
        }
        &.typ-error{
            .status-bar {
                .achive{
                    background: $clr-red;
                }
            }
        }
    }

    @media only screen and (max-width:$media-lg) {
        .m-goal{
            width: 100%;
            padding: 0;
            .goal-lbl{
                font-size: 1.2rem;
                line-height: 1.4rem;
                width: 28%;
            }
            .status-bar{
                width: 80%;
                margin-right: 5%;
            }
        }
    }