.m-img-text{
    position: relative;
    width: 100%;
    height: 122px;
    
    .img-text-input{
        opacity: 0;
        position: absolute;
    }
    input[type=radio]:not(old) + label{
        font-size: 2rem;
        line-height: 2.2rem;
        color:$clr-base;
        display: inline-block;
        position: relative;
        padding-top: .3rem;
        padding-bottom: 3.2rem;
        width: 100%;
        text-align: center;
        cursor: pointer;
        // &:after{
        //     content: "";
        //     width: 2.4rem;
        //     height: 2.4rem;
        //     border-radius: 0.5rem;
        //     border: 0.1rem solid $clr-base;
        //     position: absolute;
        //     left: 0;
        // }

    }
    .img{
        display: inline-block;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        text-align: center;
        line-height: 8rem;
        font-size: 8rem;
        position: relative;
        vertical-align: middle;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.24);
        border: solid 2px transparent;
        position: relative;
        img{
            width:auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) scale(.9);
        }
    }
    .text{
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        top:9rem;
    }
    input[type=radio]:not(old):checked + label{
        .text{
            color: $clr-red;
        }
        .img{
            border: solid 2px #da9089;
            // &:after{
            //     background-color: $clr-base;
            //     content: "";
            //     width: 2.4rem;
            //     height: 2.4rem;
            //     border-radius: 0.5rem;
            //     border: 0.1rem solid $clr-base;
            //     position: absolute;
            //     top: -.7rem;
            //     right:-.7rem
            // }
            // &:before{
            //     content: "\e920";
            //     font-family: 'icomoon' !important;
            //     font-size: 1.6rem;
            //     line-height: 2.4rem;
            //     position: absolute;
            //     width: 2.4rem;
            //     height: 2.4rem;
            //     top: -.7rem;
            //     right: -.7rem;
            //     z-index: 2;
            //     color: $clr-white;
            // }
        }
        
    }
}
@media only screen and (max-width:$media-lg) {
    .m-img-text{
        .text{
            top:7rem;
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
        .img{
            width:5.6rem;
            height: 5.6rem;
            img{
                transform: translateX(-50%) translateY(-50%) scale(.7);
            }
        }
    }
}
@media only screen and (max-width:320) {
    transform: translateX(-50%) translateY(-50%) scale(.7);
}