.m-icon-list{
    .item{
        float: left;
        margin-right: 2rem;
        padding-right: 2rem;
        border-right:solid 1px $clr-light-grey ;
        font-size: 2.4rem;
        line-height: 2.4rem;
        position: relative;
        &:last-child{
            border: none;
            margin: 0;
            padding-right: 1.2rem;
        }
        .icon{
            line-height: 2.4rem;
            vertical-align: middle;
        }
        
    }
    .submenu{
        display: none;
        position: absolute;
        right: 0;
        top: 38px;
        width: 35.3rem;
        box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
        border: solid 1px $disabled;
        background-color: $clr-white;
        z-index: 2;
        &.active{
            display: block;
        }
    }
    
    
}

@media only screen and (max-width:$media-lg) {
    .m-icon-list{
        .item {
            .icon{
                font-size: 1.8rem;
            }
        }
        .submenu{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: auto;
            z-index: 22;
        }
    }
}