.m-info-help{
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: $clr-black;
    z-index: 2;
    &:hover{
        .list{
            display: block;
        }
    }
    .icon{
        font-size: 1.8rem;
        color: #f7a500;
    }
    .list{
        display: none;
        position: absolute;
        width: 180px;
        margin: 0;
        right: 3.4rem;
        top: 50%;
        transform: translateY(-53%);
        &:after{
            content: "";
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            box-shadow: 3px -1px 2px 0 rgba(0, 0, 0, 0.16);
            top: 50%;
            transform: rotate(45deg) translateY(-62%);
            position: absolute;
            font-size: 1px;
            line-height: 1px;
            right: 1px;
        }
    }
    .data{
        background-color: $clr-white;
        box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.16);
        position: relative;
        padding: 1rem;
        z-index: 0;
        margin: 0;
        border-radius: .4rem;
    }
    .dt{
        display: inline-block;
        width: 110px;
        padding: .5rem 0;
        border-bottom:solid 1px $clr-light-grey ;
        font-size: 1.6rem;
        line-height: 1.8rem;
        text-align: left;
        &:last-of-type{
            border: none;
        }
    }
    .dd{
        display: inline-block;  
        width: 50px;
        padding:.5rem 0;
        font-size: 1.6rem;
        border-bottom:solid 1px $clr-light-grey ;
        &:last-of-type{
            border: none;
        }   
    }
}