.m-info-msg{
    .msg-text{
        font-size: 1.8rem;
        line-height: 2rem;
        color: #6c7174;
        .btn-link{
            margin-left: .4rem;
        }
    }
    .highlight{
        color: $clr-black;
    }
    
}