.m-icon-text{
    display: inline-block;
    width: 13.8rem;
    vertical-align: top;
    text-align: center;
    padding-top: 1rem;
    &.highlight{
        .icon{
            background-color: $clr-base;
            color: $clr-light-grey;
        }
        
    }
    .icon{
        transition: all 0.5s;
        width:8rem;
        height: 8rem;
        line-height: 8rem;
        text-align: center;
        font-size: 3rem;
        display: inline-block;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.24);
        border-radius:50% ;
        margin-bottom: 1rem;
        color: $clr-base;
        background-color: $clr-light-grey;
    }
    .text{
        display: inline-block;
        width: 13.8rem;
        text-align: center;
        font-size: 2rem;
        line-height: 2.2rem;
    }
    &:hover{
        .icon{
            box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
            background-color: $clr-secondary;
            color: $clr-light-grey;
        }
        .text{
            color: $clr-red;
        }
    }
}


@media only screen and (max-width:$media-lg) {
    .m-icon-text{
        width: 8.8rem;
        .icon{
            width: 5.6rem;
            height: 5.6rem;
            font-size: 2.5rem;
            line-height: 6rem;
        }
        .text{
            font-size: 1.6rem;
            line-height: 1.8rem;
            width: 100%;
        }
    }
}