//lblText

.m-lbl-text{
    .lbl-text{
        font-size: 1.8rem;
        line-height: 2rem;
        color: $clr-light;
        display: block;
    }
    .desc-text{
        font-size: 2rem;
        line-height: 2.2rem;
        color: $clr-black;
        display: inline-block;
        vertical-align: middle;
        &.emp{
            font-family: $bold;
        }
    }
    .tags{
        display: block;
        margin-top: 1rem;
        .tag{
            border-radius: 1.2rem;
            font-size: 1.4rem;
            line-height: 1.6rem;
            padding: 0.3rem 1rem;
            color: #6c7174;
            background-color: #f0ecec;
            margin-right: 0.8rem;
            margin-bottom: 0.6rem;
            display: inline-block;
        }
    }
    
    
}

@media only screen and (max-width:$media-lg) {
    .m-lbl-text{
        .lbl-text{
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
        .desc-text{
            font-size: 1.8rem;
            line-height: 2rem;
            &.emp{
                font-family: $bold;
            }
        } 
    }
}