//loginJourney
.m-login-journey{
    display: block;
    .head{
        margin-bottom: 3rem;
        .title{
            font-size: 4.4rem;
            line-height: 4.8rem;
            color: $clr-black;
            margin: 0;
        }
        .lbl{
            font-size: 3.2rem;
            line-height: 3.6rem;
            color: $clr-black;
            margin-bottom: 1rem;
            font-family: $thin;
        }
        .para{
            font-size: 2.2rem;
            line-height: 2.6rem;
            color: $clr-black;
            margin-bottom: 1rem;
            font-family: $thin;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .m-login-journey{
        .head{
            .title{
                font-size: 3.2rem;
                line-height: 3.6rem;
            }
            .lbl{
                font-size: 2rem;
                line-height: 2.2rem;
            }
            .para{
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }
    }
}