.m-notification-Info{
    .info-cont{
        padding: 2rem;
        font-size: 1.8rem;
        line-height: 2rem;
        color: $clr-black;
        .title{
            font-size: 2.4rem;
            line-height: 2.6rem;
            margin-bottom: 20px;
        }
    }
    
    .info-list{
        overflow-x: auto;
        height: 23rem;
        margin: 0 -2rem;
        .info-item{
            padding: 1rem 2rem;
            border-bottom: solid 1px $clr-light-grey;
            >a{
                display: block;
                // &:hover{
                //     color: $clr-black;
                // }
            }
            .info-paynow{
                display: inline-block;
                
            }
            
            &:hover{
                background: $clr-light-grey;
            }
        }
    }
    .info-viewall{
        display: block;
    }
    .btn-cancel{
        font-size: 1.5rem;
        line-height: 1.5rem;
        top: 0.4rem;
        right: 0.4rem;
        position: absolute;
        &.btn{
            &.btn--icon{
                .icon{
                    line-height: 1.5rem;
                    font-size: 2rem;
                }
            }
        }
    }
   
    
}

@media only screen and (max-width:$media-lg) {
    .m-notification-Info{
        .info-list{
            height: auto;
            position: absolute;
            right: 1.6rem;
            left: 1.6rem;
            bottom: 5.4rem;
            top: 7rem;
            .info-item{
                padding: 1rem 2rem;
            }
        }
        
        .info-viewall{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .btn-cancel{
            margin-right: 0;
        }
    }
}