//m-progress-bar

.m-progress-bar{
    width: 55%;
    padding: 0.3rem 2rem;
    line-height: 1rem;
    border-radius: 4rem;
    // .lbl{
    //     font-size: 2rem;
    //     line-height: 2.2rem;
    //     font-family: $regular;
    //     color: $clr-black;
    //     width: 30%;
    //     display: inline-block;
    //     vertical-align: middle;
    // }
    .status-bar{
        position: relative;
        width: 60%;
        display: inline-block;
        vertical-align: middle;
        .total{
            width: 100%;
            height: 0.5rem;
            border-radius: 0.4rem;
            display: block;
            background: #cdcece;
        }
        .achive{
            width: 40%;
            height: 0.5rem;
            border-radius: 0.4rem;
            display: block;
            background: #1f874c;
            position: absolute;
            top: 0;
        }
    }
    .status{
        width: 10%;
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem;
        line-height: 2.2rem;
        text-align: right;
        font-family: $regular;
        color: $clr-black;
        
    }
    &.error{
        .status-bar {
            .achive{
                background: $clr-red;
            }
        }
    }
}


@media only screen and (max-width:$media-lg) {
    .m-progress-bar{
        width: 100%;
        padding: 0;
        // .lbl{
        //     display: block;
        //     width: 100%;
        //     font-size: 1.6rem;
        //     line-height: 1.8rem;
        // }
        .status-bar{
            width: 80%;
            margin-right: 5%;
        }
    }
}