//planCard
.m-plan-card{
    margin: 0 auto;
    width: 94%;
    overflow: hidden;
    border-radius: 0.4rem 0.4rem 0 0;
    box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
    .head{
        position: relative;
        background: #b37671;
        padding: 1.2rem;
        height: 13rem;
        color: $clr-white;
        .lbl-text{
            display: inline-block; 
            color: $clr-white;   
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin-right: 1.6rem;
            min-width: 6.4rem; 
        }
        .desc-text{
            display: inline-block; 
            color: $clr-white;   
            font-size: 2rem;
            line-height: 2.2rem; 
        }
        .tag{
            position: absolute;
            right: 5rem;
            top: 2rem;
        }
        .accorArrow{
            margin-left: 0.3rem;
            display: none;
        }
        .list{
            display: block;
            .item{
                margin-bottom: 0.6rem;
            }
        }
        .dote-menu{
            position: absolute;
            right: 0.9rem;
            top: 1.7rem;
            .icon{
                padding: 0.6rem;
                cursor: pointer;
                font-size: 1.8rem;
            }
            &.active{
                .menu{
                    transform: scale(1);
                }
            }
        }
        .menu{
            position: absolute;
            width: 23.6rem;
            right: 3.8rem;
            top: -0.5rem;
            z-index: 2;
            border-radius: 0.4rem;
            padding: 1.4rem 0;
            transform: scale(0);
            transform-origin: 100% 0;
            transition: all 0.5s ease-in;
            box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
            background: $clr-white;
            .item{
                margin-bottom: 0;
                .link{
                    font-size: 2rem;
                    line-height: 2.2rem;
                    color: $clr-black;
                    padding: 1rem 2rem;
                    display: block;
                    &:hover{
                        color: $clr-base;
                    }
                }
            }
        }
    }
    .cont{
        position: relative;
        padding: 2rem;
        height: 31.5rem;
        padding: 3rem 2rem 8.7rem 2rem;
        .list{
            display: block;
            overflow: hidden;
            .item{
                width: 33.33%;
                float: left;
                min-height: 5rem;
                margin-bottom: 2rem;
                &:first-child{
                    width: 100%;
                }
                &.item-full{
                    width: 100%;
                }
            }
        }
        .act-btn{
            position: absolute;
            bottom: 2rem;
            left: 2rem;
        }
    }
    .upgrade{
        position: relative;
        padding: 2rem 15rem 2rem 2rem;
        background: url(/assets/images/upgrade.png) no-repeat 0 0 transparent;
        background-size: cover;
        height: 13rem;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.32) 7%, rgba(0, 0, 0, 0.28) 44%, rgba(0, 0, 0, 0));
            z-index: 0;
        }
        .para{
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: $clr-white;
            position: relative;
            z-index: 2;
        }
        .btn{
            color: $clr-white;
            position: absolute;
            right: 2rem;
            bottom: 0.8rem;
            font-size: 1.8rem;
            line-height: 2rem;
            z-index: 3;
            &:after{
                content: "";
                background: $clr-white;
            }
            &:hover{
                color: $clr-light-grey;
                background: transparent;
                &:after{
                    content: " ";
                    background: transparent;
                }
            }
        }
        .title{
            display: inline-block;
            font-size: 3.2rem;
            line-height: 3.4rem;
            margin-bottom: 1rem;
            color: $clr-white;
            position: relative;
            z-index: 2;
            span{
                display: inline-block;
                vertical-align: middle;
            }
            .icon{
                color: #f7a500;
                margin-right: 1rem;
                font-size: 1.6rem;
            }
        }
    }
    &.typ-goal{
        .head{
            padding: 2rem 2rem 2.2rem 2rem;
        }
        .m-goal{
            position: absolute;
            width: auto;
            top: -1.1rem;
            right: 2rem;
            left: 2rem;
            padding: 0.4rem 2rem;
            line-height: 1rem;
            border-radius: 4rem;
            background: $clr-white;
            box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
            .lbl{
                font-size: 1.4rem;
                line-height: 1.6rem;
                color: $clr-black;
                width: 20%;
                display: inline-block;
                vertical-align: middle;
            }
            .status-bar{
                position: relative;
                width: 70%;
                display: inline-block;
                vertical-align: middle;
                .total{
                    width: 100%;
                    height: 0.4rem;
                    border-radius: 0.4rem;
                    display: block;
                    background: #cdcece;
                }
                .achive{
                    width: 40%;
                    height: 0.4rem;
                    border-radius: 0.4rem;
                    display: block;
                    background: #1f874c;
                    position: absolute;
                    top: 0;
                }
            }
            .status{
                width: 10%;
                display: inline-block;
                vertical-align: middle;
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-align: right;
                color: $clr-black;
            }
        }
    }
    &.policy{
        width: 100%;
        .head,
        .cont{
            height: auto;
        }
        .cont{
            padding: 2rem;
            .act-btn{
                position: relative;
                bottom: auto;
                left: auto;
                .btn{
                    margin-bottom: 0.7rem;
                    &:first-child{
                        margin-left: 0;
                    }
                    &:last-child{
                        display: block;
                        margin: 0;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:$media-lg) {
    .m-plan-card{
        width: 95%;
        &.typ-goal{
            .m-goal{
                right: 1rem;
                left: 1rem;
                .lbl{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                    width: 28%;
                }
                .status-bar{
                    width: 57%;
                }
                .status{
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
            .head{
                padding: 1.2rem 1.2rem 2.2rem 1.2rem;
            }
        }
        .head{
            height: 10.8rem;
            .lbl-text{
                font-size: 1.2rem;
                line-height: 1.4rem;
                margin-right: 0.5rem;
            }
            .desc-text{
                font-size: 1.6rem;
                line-height: 1.8rem;
            }
            .tag{
                right: 3.8rem;
                top: 1rem;
            }
            .accorArrow{
                display: inline-block;
                transition: all 0.3s ease;
                font-size: 1.4rem;
            }
            .dote-menu{
                right: 0.3rem;
                top: 1.1rem;
                .icon{
                    font-size: 2rem;
                }
            }
        }
        .cont{
            height: 32.5rem;
            padding: 3rem 2rem 7.7rem 2rem;
            .list{
                .item{
                    width: 50%;
                    min-height: 4.1rem;
                    margin-bottom: 1.4rem;
                }
            }
            .act-btn{
                .btn{
                    // min-width: auto;
                    margin-right: 1.4rem;
                    padding: 0.8rem 1.2rem;
                }
            }
        }
        .upgrade{
            padding: 1rem 1.6rem 1rem 1.6rem;
            height: 14.8rem;
            .title{
                font-size: 2.2rem;
                line-height: 2.6rem;
                margin-bottom: 1.2rem;
            }
            .btn{
                position: relative;
                padding-left: 0;
                right: auto;
                margin-top: 1rem;
            }
        }
        &.policy{
            width: 95%;
            .cont {
                .list{
                    .item{
                        display: none;
                        &.view{
                            display: block;
                            margin-bottom: 0;
                        }
                    }
                }
                .act-btn {
                    display: none;
                    .btn{
                        margin: 0 1% 0.8rem;
                        width: 48%;
                        float: left;
                        &:last-child{
                            display: inline-block;
                            padding: 0.8rem 0rem;
                            width: auto;
                            float: none;
                        }
                    }
                    &.listView{
                        display: none;
                    }
                }
            }
            &.show{
                .cont{
                    transition: all 0.4s ease;
                    .list{
                        .item{
                            display: block;
                            &.view{
                                display: block;
                                margin-bottom: 1.4rem;
                            }
                        }
                    }
                    .act-btn{
                        &.normal-view{
                            display: block;
                        }
                        &.list-view{
                            display: none;
                        }
                    }
                }
            }
        }
        &.show{
            .head{
                .accorArrow{
                    position: relative;
                    transform: rotate(180deg);
                }
            }
        }
    }
}