.m-pay-policy-card{
    margin-bottom: 2.4rem;
    .head{
        position: relative;
        padding: 2.4rem 0;
        border-radius: 4px;
        background-color: #b37671;
        .row{
            margin: 0 3rem;
        }
        .m-lbl-text{
            .lbl-text{
                color: $clr-white;
            }
            .desc-text{
                color: $clr-white;
            }
        }
        
        .checkbox{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2rem;
        }
        .btn-icon{
            position: absolute;
            color: #ffffff;
            right: 1rem;
            top: 50%;
            font-size: 1.4rem;
            line-height: 1.4rem;
            transform: translateY(-50%);
            padding: 2rem;
            &:focus{
                box-shadow: none;
            }
            
            .icon{
                font-size: 1.4rem;
                line-height: 1.4rem;
            }
            color: $clr-white;
        }
    }
    .body{
        box-shadow: 0 0 14px 0 rgba(106, 71, 66, 0.24);
        border: solid .1rem $disabled;
        background-color:$clr-white;
        margin-top: -1rem;
        
        .m-info-help{
            margin-left: 1rem;
        }
        .extra{
            display: none;
        }
        
    }
   
    .content{
        display: none;
        padding: 3.9rem 2rem 3rem 2rem;
        
        .row{
            padding:2rem 0 2.4rem 2.9rem;
            margin: 0;
            border-bottom: solid 1px $clr-light-grey;
            &:last-child{
                border-bottom: none;
            }
        }
        .radio{
            margin-left: -4.4rem;
        }
        
    }
    &.expanded{
        .head{
            .btn-icon{
                    transform: translateY(-50%) rotate(-180deg);
            }
            
        }
        .extra{
            display: none ;
        }
        .content{
            display: block;
        }
    }
    .msg{
        font-family: $pfencoresansprobook;
        font-size: 1.4rem;
        color: $clr-red;
        margin-left: 4rem;
    }
    
    .form-group{
        padding-right: 3rem;
        position: relative;
        .form-control{
            font-size: 2rem;
            line-height: 2rem;
            
        }
        .m-info-help{
            position: absolute;
            right: 0;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .m-pay-policy-card{
        .head{
            padding: 1.6rem 0;
            .extra{
                display: none;
            }
            .row{
                margin: 0 2rem;
            }
            .m-lbl-text{
                margin-right: -4rem;
                .lbl-text{
                    display: inline-block;
                    margin-right: 5px;
                    font-size: 1.2rem;
                    vertical-align: bottom;
                }
            }
            .btn-icon{
                min-width: auto;
                
                right: 0rem;
                top: 2.5rem;
            }
            .checkbox{
                position: absolute;
                top: 1.4rem;
                left: 1.4rem;
                transform: none;
                
                input[type=checkbox]:not(old) + label{
                    padding: 0;
                    &:before{
                        margin: 0;
                    }
                }
            }
        }
        .body{
            .m-info-help{
                vertical-align: middle;
            }
            .m-lbl-text{
                margin-bottom: .4rem;
            }
            .extra{
                padding: 3rem 2rem 2rem;
                display: block;
            }
            .radio{
                margin-left: -4rem;
                .radio-lbl{
                    padding-left: 2.5rem;
                    margin-bottom: .4rem;   
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                    &:before{
                        position: absolute;
                        left: 0;
                        top: .5rem;
                    }
                    .innertext{
                        margin: 0;
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                        
                    }
                }
            }
            .row{
                &:last-child{
                    .col-xs-7{
                        padding-left: 0;
                    }
                }
            }
            .col-xs-12{
                padding-left: 0rem;
                
                .desc-text{
                    font-family: $pfencoresansprobook;
                    color:#6c7174;
                    font-size: 1.2rem;
                line-height: 1.4rem;
                }
            }
            .col-xs-5{
                padding: 0;
                text-align: right;
            }
        }
        &.expanded{
            .body{
                .extra{
                    display: none;
                }
            }
        }
        .msg{
            margin-left: 0;
        }
    }
}