//switchWrap
.m-switch-wrap{
    text-align: right;
    display: block;
    margin: 2rem 0;
    .name{
        display: inline-block;
        vertical-align: middle;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: $clr-light;
    }
    .switch{
        display: inline-block;
        vertical-align: middle;
    }
}
.switch{
    position: relative;
    width: 3.7rem;
    height: 1.5rem;
    margin: 0 1rem;
    .switch-input{
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #6a474242;
        -webkit-transition: .4s;
        transition: .4s;
        &:before{
            position: absolute;
            content: "";
            height: 2rem;
            width: 2rem;
            left: 0;
            bottom: -0.3rem;
            background-color: $clr-base;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
    .switch-input:checked + .slider {
        background-color: #6a474242;
    }
    
    .switch-input:focus + .slider {
        box-shadow: 0 0 0.1rem #6a474242;
    }
    
    .switch-input:checked + .slider:before {
        -webkit-transform: translateX(1.8rem);
        -ms-transform: translateX(1.8rem);
        transform: translateX(1.8rem);
    }
    
    .slider{
        &.round {
            border-radius: 3.4rem;
            &:before {
                border-radius: 50%;
            }
        }
    }
}