// m-status-tag

.m-status-tag {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0.4rem 1.5rem;
    background-color: transparent;
    color: $clr-white;
    border-radius: 1.2rem;
    &.active {
        background-color: #1f874c;
    }
}