//m-table-wrap
.m-table-wrap{
    .table{
        &.MuiPaper-elevation1{
            border: none;
            box-shadow: none;
        }
        .MuiTableCell-root{
            font-family: $regular;
            &.approved{
                color: #1f874c;
            }
            &.process{
                color: #6c7174;
            }
            &.failed{
                color: $clr-red;
            }

        }
    }
    thead{
        background: #6c7174;
        .MuiTableCell-head,
        .MuiTableSortLabel-active,
        .MuiTableSortLabel-icon{
            font-size: 1.8rem;
            line-height: 2rem;
            color: $clr-white;
        }
        .MuiTableCell-head{
            padding: 1.2rem 3.5rem;
        }
        .MuiTableSortLabel-root:hover{
            color: $clr-white;
        }
    }
    tbody{
        th,td{
            padding: 1.3rem 3.5rem;
            font-size: 2rem;
            line-height: 2.2rem;
            color: $clr-black;
        }
    }
    .btn{
        margin:1.3rem 3.5rem;
    }
    .MuiTableSortLabel-root{
        &.MuiTableSortLabel-active{
            &.MuiTableSortLabel-root{
                &.MuiTableSortLabel-active{
                    &:after{
                        content: "\e92d";
                        font-family: 'icomoon' !important;
                        margin-left: 1rem;
                    }
                    .MuiTableSortLabel-icon {
                        color: $clr-white;
                        opacity: 1;
                        display: none;
                    }
                }
            }
        }
        &:hover{
            .MuiTableSortLabel-icon{
                opacity: 0;
                &:after{
                    opacity: 0.5;
                    content: "\e92d";
                    font-family: 'icomoon' !important;
                }
            }
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .m-table-wrap{
        margin: -1.6rem -1.6rem 0;
        thead{
           // background-color: #f1f3f6;
            .MuiTableCell-head,
            .MuiTableSortLabel-active,
            .MuiTableSortLabel-icon{
                //color: $clr-black;
                font-size: 1.8rem;
                line-height: 2rem;
            }
            .MuiTableCell-head{
                padding: 1.2rem 0.6rem 1.2rem 1.5rem;
                font-size: 1.6rem;
                line-height: 2rem;
            }
            .MuiTableSortLabel-root:hover{
               // color: $clr-black;
            }
        }
        tbody{
            th,td{
                padding: 1.2rem 1.5rem;            }
        }
        .btn{
            padding: 0.8rem 0;
            margin: 1.2rem 1.5rem;
        }
    }
    .hidden-xs{
        display: none;
    }

}