//m-upload

.m-upload{
    .file,
    .progress,
    .uploaded{
        display: none;
        &.show{
            display: block;
        }
    }
    .file{
        .btn{
            position: relative;
        }
        .fileInput{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            width: 100%;
            z-index: 1;
            cursor: pointer;
        }
    }
    .progress{
        .m-progress-bar{
            width: 37%;
            padding: 0.3rem 2rem 0.3rem 4.3rem;
            display: block;
            .cancel-btn{
                padding: 0;
                min-width: auto;
                background: transparent;
                border: none;
                .cancel-icon{
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 2.2rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    font-size: 1.1rem;
                    line-height: 2.5rem;
                    border-radius: 50%;
                    overflow: hidden;
                    text-align: center;
                    background: $clr-base;
                    color: $clr-white;
                    &:hover{
                        color: $clr-white;
                    }
                }
            }
        }
    }
    
    .preview{
        position: relative;
        display: inline-block;
        padding-right: 8rem;
        margin-bottom: 0.6rem;
        &.show{
            display: inline-block;
        }
        .previewicon{
            font-size: 3.2rem;
            line-height: 3.6rem;
            margin-right: 1rem;
            display: inline-block;
            vertical-align: middle;
            color: $clr-light; 
        }
        .desc{
            display: inline-block;
            vertical-align: middle;
            .fileName{
                font-size: 1.8rem;
                line-height: 2rem;
                margin-bottom: 0.1rem;
                display: block;
                color: $clr-black;
            }
            .fileSize{
                font-size: 1.4rem;
                line-height: 1.6rem;
                text-transform: uppercase;
                color: $clr-light;
                display: block;
                vertical-align: middle;
            }
        }
        .delete-btn{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;  
            .delete-icon{
                font-size: 2rem;
                line-height: 2.2rem;
            }
        }
    }
}




@media only screen and (max-width:$media-lg) {
    .m-upload{
        .progress{
            .m-progress-bar{
                width: 100%;
                .status-bar{
                    width: 60%;
                }
            }
        }
        .file{
            .btn{
                &.btn-iconText{
                    padding-left: 0;
                }
            }
        }
    }
}