.m-video{
    height: 57.5rem;
    overflow: hidden;
    border-radius: 0.4rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    .poster{
        img{
            display: block;
        }
    }
    .icon{
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 7rem;
        transform: translateX(-50%) translateY(-50%) scale(1);
        color: $clr-white;
        transition: all 0.4s ease-in;
        &:hover{
            transform: translateX(-50%) translateY(-50%) scale(1.2);
            color: $clr-white;
        }
    }
}

@media only screen and (max-width:$media-lg) {
    .m-video{
        height: 19.3rem;
        background-size: cover;
        .icon{
            font-size: 5rem;
        }
    }
}