.m-whtsp-acc{
    padding: 2rem 0;
    background-color: rgba(237, 201, 198, 0.15);
    overflow: hidden;
    .lhs{
        float: left;
        width: 40%;
        padding: 3.2rem 7.6rem 3.2rem 3rem;
    }
    .rhs{
        float: left;
        width: 60%;
        padding: 3.2rem 3.2rem 3.2rem 10.6rem;
    }
    .title{
        font-size: 4.4rem;
        line-height: 4.4rem;
        color: $clr-black;
    }
    .subtitle{
        font-family: $thin;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin-bottom: 1.8rem;
        color: $clr-black;
    }
    .whtsp-ctrl{
        width: 67%;
        padding:0 4.8rem;
        position: relative;
        .icon-whats-app{
            font-size: 3.2rem;
            position: absolute;
            left: .8rem;
            top:.6rem;
            color:#03ae51
        }
        .whtsp-input{
            font-size: 1.8rem;
            line-height: 2rem;
            border-radius:0.4rem 0 0 0.4rem ;
            color: $disabled;
        }
        .btn{
            position: absolute;
            right: 0;
            font-size: 2.3rem;
            width: 4.8rem;
            &.btn-icon{
                background: $clr-primary;
                color:$clr-white;
                border-radius:0rem 0.4rem 0.4rem 0rem ;
                min-width: auto;
                padding: 0.94rem 1rem;
            }
        }
    }
    
    
    
}

@media only screen and (max-width:$media-lg) {
    .m-whtsp-acc{
        padding: 2rem 1.6rem;
        margin: 0 -1.6rem;
        .lhs,.rhs{
            width: 100%;
            float: none;
            padding: 1.6rem 1.6rem 0 0;
        }
        .rhs{
            padding: 0 1.6rem 1.6rem 0;
        }
        .title{
            font-size: 3rem;
            line-height: 3.2rem;
        }
        .subtitle{
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin-bottom: 1.2rem;
        }
        .whtsp-ctrl{
            width: 100%;
            .btn{
                &.btn-icon{
                    padding: 0.93rem 1rem;
                }
            }
        }
    }
}