.MuiExpansionPanel-root{
    &.mat-accordion{
        box-shadow: none;
        border-bottom:solid 2px $clr-light-grey ;
        &:before{
            opacity: 0;
        }
        &.Mui-expanded{
            margin: 0;
            border-bottom:none ;
        }
        .MuiExpansionPanelSummary-root{
            padding-left: 3.2rem;
            min-height: 6.4rem;
            &.Mui-expanded{
                background: #f5f5f5;
                min-height: 6.4rem;
                
            }
            .MuiExpansionPanelSummary-content{
                font-size: 2.4rem;
                &.Mui-expanded{
                    margin: 0;
                    .icon-chevron-down{
                        transform: translateY(-50%) rotate(-180deg);
                    }
                }
                .icon-chevron-down{
                    position: absolute;
                    font-size: 1.8rem;
                    right: 2rem;
                    top: 50%;
                    color: $clr-base;
                    transform: translateY(-50%) rotate(0deg);
                    transition-duration:.4s ;
                }
            }
            
        }
        .MuiCollapse-container{
            .MuiCollapse-wrapper{
                .MuiCollapse-wrapperInner{
                    .MuiExpansionPanelDetails-root{
                        display: block;
                        padding: 3rem;
                    }
                }
            }
        }
        
    }
}

@media only screen and (max-width:$media-lg) {
    .MuiExpansionPanel-root{
        &.mat-accordion {
            .MuiExpansionPanelSummary-root{
                padding-left: 1.6rem;
                .MuiExpansionPanelSummary-content {
                    .icon-chevron-down{
                        font-size: 1.4rem;
                        right: 1.6rem;                    
                    }
                }
            }
            .MuiCollapse-container {
                .MuiCollapse-wrapper {
                    .MuiCollapse-wrapperInner {
                        .MuiExpansionPanelDetails-root{
                            padding: 1.6rem;
                            
                        }
                    }
                }
            }
        }
    }
    
}