.MuiInput-root{
    width: 100%;
    border: solid 1px $disabled;
    border-radius: .4rem;
    &:focus{
        outline: none;
    }
    &.MuiInputBase-root{
        font-family: $regular;
        font-size: 1.8rem;
    }
    
    &.MuiInput-underline:before{
        content: none;
    }
    &.MuiInput-underline:after{
        content: none;
    }
    .MuiSelect-select.MuiSelect-select{
        padding-right: 3.4rem;
    }
    .MuiSelect-select:focus{
        background: none;
    }
    .MuiInputBase-input{
        padding: 1.3rem 1.6rem;
    }
    .icon{
        position: absolute;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        color: $clr-base;
    }
}
.MuiPopover-root{
    .MuiMenu-paper{
        max-height: 24rem;
    }
    .MuiMenuItem-root{
        font-size: 1.6rem;
        line-height: 1.8rem;
        padding: 1.4rem 1.6rem;
        font-family: $regular;

    }
}