//Toaster 


.MuiSnackbar-anchorOriginBottomCenter{
    &.toaster{
        left: 5%;
        right: 5%;
        transform: none;
        .MuiSnackbarContent-root{
            padding: 0;
            min-width: auto;
            width: 100%;
            text-align: center;
            background: #6c7174;
            font-family: $regular;
            border-radius: 0.4rem;
            .MuiSnackbarContent-message{
                padding: 1rem 2rem 2.2rem;
                width: 100%;
                color: $clr-white;
            }
        }
        .toaster-title{
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
        .toaster-message{
            font-size: 2rem;
            line-height: 2.2rem;
            margin: 0;
            font-family: $thin;
        }
    }
}

@media (min-width: 1400px){
    .MuiSnackbar-anchorOriginBottomCenter{
        &.toaster{
            left: 15%;
            right: 15%;
            transform: none;
            .MuiSnackbarContent-root{
                padding: 0;
                min-width: auto;
                width: 100%;
                text-align: center;
                background: #6c7174;
                font-family: $regular;
                border-radius: 0.4rem;
                .MuiSnackbarContent-message{
                    padding: 1rem 2rem 2.2rem;
                    width: 100%;
                    color: $clr-white;
                }
            }
            .toaster-title{
                font-size: 2.4rem;
                line-height: 2.6rem;
            }
            .toaster-message{
                font-size: 2rem;
                line-height: 2.2rem;
                margin: 0;
                font-family: $thin;
            }
        }
    }
}

@media (min-width: 768px){
    .MuiSnackbar-anchorOriginBottomCenter{
        &.toaster{
            left: 15%;
            right: 15%;
            transform: none;
            .MuiSnackbarContent-root{
                padding: 0;
                min-width: auto;
                width: 100%;
                text-align: center;
                background: #6c7174;
                font-family: $regular;
                border-radius: 0.4rem;
                .MuiSnackbarContent-message{
                    padding: 1rem 2rem 2.2rem;
                    width: 100%;
                    color: $clr-white;
                }
            }
            .toaster-title{
                font-size: 2.4rem;
                line-height: 2.6rem;
            }
            .toaster-message{
                font-size: 2rem;
                line-height: 2.2rem;
                margin: 0;
                font-family: $thin;
            }
        }
    }
}

// @media (min-width: 1400px){
//     .MuiSnackbar-anchorOriginBottomCenter{
//         width: 70% !important;
//     }
//     .MuiSnackbarContent-root{
//         background: #6c7174 !important;
//         text-align: center !important;
//         min-width: 70% !important;
//     }
// }


// @media (min-width: 768px){
//     .MuiSnackbarContent-root {
//         flex-grow: initial;
//         text-align: center !important;
//         min-width: 288px;
//     }
// }